.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 50px;
}
.bouton {
    background-color: black !important;
    border-color: black !important;
    margin-left: 45%;
    
}
.stars {
    margin-left: 45%;
}
.btn {
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: white;
    
}